<h1>Chat</h1>
<div class="form-group">
    <div class="form-control log" id="chatlog" style="height:400px;" ng-bind-html="data.chatlines | unsafe"></div>
</div>
<form class="input-group" ng-submit="module.sendMessage(input);input=null;">
    <input class="form-control" type="text" name="input" id="chat-input" ng-model="input" autocomplete="off" placeholder="Chat message or command">
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Send</button>
    </span>
</form>