{% verbatim %}<h1>Graphs</h1>

<div class="row">
    <div class="col-lg-6" ng-cloak ng-repeat="graph in data.stats">
        <div class="graph-box">
            <h3 ng-bind="graph.label"></h3>
            <linechart data="graph.data" options="graph.options" height="300"></linechart>
        </div>
    </div>
</div>
{% endverbatim %}