{% verbatim %}
<style>
	#coords {
		background-color: black;
		color: white;
		padding: 5px;
	}
</style>
<div class="cover">
    <div class="container-fluid cover" style="bottom:10px; top:10px;">
        <div class="mapper" id="map" style="height:100%;"></div>
        <!-- <div id="coords"></div> -->
    </div>
</div>
{% endverbatim %}