{% verbatim %}
<style>
     #coords { background-color: black; color: white; padding: 5px; }
</style>
<div class="cover">
    <div class="container-fluid cover" style="bottom:10px; top:10px;">
        <div id="map" style="height:100%;"></div>
        <div id="coords"></div>
        <!-- <img src="data:image/png;base64,{{ data.img }}"> -->
    </div>
</div>
<!-- <script type="text/javascript">
	var map = new google.maps.Map(document.getElementById('map'), {
		center : {
			lat : -34.397,
			lng : 150.644
		},
		zoom : 8
	}); 
</script> -->
{% endverbatim %}