{% verbatim %}
<ul class="treeview">
    <li class="active">
        <a href="#" ng-click="module.refresh()">ROOT (click to refresh)</a>
        <ul ng-cloak ng-init="items = {a:'A', d:'D', c:'C', b:'B'}; items2 = {a:{value:'A'}, d:{value:'D'}, c:{value:'C'}, b:{value:'B'}}; ">
            
            <!-- ROOT PERMS -->
            <li x-group-perms="data.root"></li>
            <li x-player-perms="data.root"></li>
            
            <!-- WORLDS -->
            <li class="node" ng-repeat="world in data.root.worldZones | orderObjectBy: 'dimensionID' track by world.id" ng-class="{active: nodeExpanded}" ng-init="nodeExpanded = false">
                <a href="#" ng-click="nodeExpanded = !nodeExpanded">WORLD_{{ world.dimensionID }}</a>
                <ul>
                    
                    <!-- WORLD PERMS -->
                    <li x-group-perms="world"></li>
                    <li x-player-perms="world"></li>
                    
                    <!-- AREAS -->
                    <li class="node" ng-repeat="area in world.areaZones | orderObjectBy: 'name' track by area.id" ng-class="{active: nodeExpanded}" ng-init="nodeExpanded = false">
                        <a href="#" ng-click="nodeExpanded = !nodeExpanded" ng-bind="area.name"></a>
                        <ul>
                            <!-- AREA PERMS -->
                            <li x-group-perms="area"></li>
                            <li x-player-perms="area"></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<div id="perm-popup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form ng-submit="module.submit();">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit permission</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="permission-key">Permission</label>
                        <input class="form-control" type="text" name="key" id="permission-key" ng-model="tmp.key" placeholder="fe.protection.break.*" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </div>
                    <div class="form-group">
                        <label for="permission-value">Value</label>
                        <input class="form-control" type="text" name="value" id="permission-value" ng-model="tmp.value" placeholder="false" autocorrect="off" autocapitalize="off" spellcheck="false">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" type="submit" data-dismiss="modal" data-loading-text="Loading..." ng-click="module.submit();">Submit</button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endverbatim %}
