* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

a, div {
	outline: 0 none;
}

a {
	text-decoration: none;
	transition-duration: 0.05s;
	transition-property: border, background, color;
	transition-timing-function: ease-in-out;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	display: block;
}

body {
	padding-top: 50px;
}

/************************/

.navbar h1 {
	line-height: 32px;
	font-size: 18px;
	margin: 0 5px 0 5px;
	display: inline-block;
}

#content {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

/************************/

#sidebar a {
	color: #eeeeee;
	display: block;
	line-height: 34px;
	padding: 2px 5px;
}

#sidebar ul {
	margin-top: 12px;
}

/************************/

textarea.log,
div.log {
	max-width: 100%;
	min-width: 100%;
	border-radius: 8px;
	padding: 4px;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	cursor: text;
}

div.log {
	overflow: auto;
}

.graph-box {
	padding-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #666;
	border-radius: 10px;
}
