body {
	background: #ccc;
	color: #000;
}

a {
	color: #0073aa;
}

/************************/

.nav-bar {
	background: #272d33;
	color: #ccc;
}

#sidebar {
	background: #1f2328;
	color: #ccc;
}

#sidebar .nav > li > a:focus, #sidebar .nav > li > a:hover {
	background-color: #131619;
	text-decoration: none;
}

#sidebar .nav > .active > a, #sidebar .nav > .active > a:hover, #sidebar .nav > .active > a:focus {
	background-color: #0073aa;
}

/************************/

textarea.log {
	background: black;
	color: #090;
}

/************************/
