body {
	background: #ccc;
	color: #000;
}

a {
	color: #0073aa;
}

/************************/

.nav-bar {
	background: #272d33;
	color: #ccc;
}

#sidebar {
	background: #1f2328;
	color: #ccc;
}

#sidebar li:hover {
	background: rgba(0, 0, 0, 0.3);
}

#sidebar li.active {
	background: #0073aa;
}

/************************/

table, th, td {
	border: 1px solid #666;
	border-collapse: collapse;
	padding: 5px;
}

table th {
	background-color: rgba(0, 0, 0, 0.1);
}

table tr:nth-child(odd) {
	/*background-color: #f1f1f1;*/
	background-color: rgba(0, 0, 0, 0.05);
}

table tr:nth-child(even) {
	/*background-color: #ffffff;*/
}